<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>

<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-light bg-light navbar-fixed-top">

        <h1 style="text-align: center;">MINISTRY OF WOMEN & CHILD DEVELOPMENT</h1>
        <a class="navbar-brand" href="#">
            <img src="assets\wm3.png" height="200" width="200" style="margin-bottom: 500px;" class="img1"></a>
        <div class="div1">

            <a class="navbar-brand" routerLink="/home2" routerLinkActive="active">HOME</a>
            <a class="navbar-brand" routerLink="/contact-us" routerLinkActive="active">CONTACT US</a>
        </div>
    </nav>



    <!-- content -->
    <div class="head">
        <h2>Women Empowerment in India: Policies and
            Programmes </h2>
    </div>
    <div class="policy">
        <br>
        <div class="box">
        <div class="box1">
            <!-- <p class="p1"> -->
                Empowerment in its broadest sense is the expansion of freedom of choice and action
                meaning thereby increasing one’s authority and control over the resources and decisions that
                affect one’s life. As people exercise real choice, they gain increased control over their lives. The
                choices of disadvantaged groups including women are extremely limited, both by their lack of
                assets and by their powerlessness to negotiate better terms for themselves with a range of
                institutions, both formal and informal. Since powerlessness is embedded in the nature of
                institutional relations, empowerment is thus the expansion of assets and capabilities of the target
                group to participate in, negotiate with, influence, control, and hold accountable institutions that
                affect their lives. India is among the few developing countries where gender equality and
                improvement in the status of women are specifically stated to be central goals of development
                and social policy.
            <!-- </p> -->
        </div>
        <div class="box2">
            <!-- <p class="p2"> -->
                Women as an independent group constitute 48% of the country’s total population as per
                the 2001 Census. The importance of women as a important human resource was recognized by
                the Constitution of India which not only accorded equality to women but also empowered the
                State to adopt measures of positive discrimination in their favor. A number of Articles of the
                Constitution (Box 1) specially reiterated the commitment of the constitution towards the socio
                economic development of women and upholding their political right and participation in decision making.
            <!-- </p> -->
        </div>
        <div class="box3">
            <!-- <p class="p3"> -->
                Article 14 - Men and women to have equal rights and opportunities in the political, economic and social
                spheres.
                Article 15(1) - Prohibits discrimination against any citizen on the grounds of religion, race, caste,
                sex
                etc.
                Article 15(3) - Special provision enabling the State to make affirmative discriminations in favour of
                women.
                Article 16 - Equality of opportunities in matter of public appointments for all citizens.
                Article 39(a) - The State shall direct its policy towards securing all citizens men and women, equally,
                the
                right to means of livelihood.
                Article 39(d) – Equal pay for equal work for both men and women.
                Article 42 - The State to make provision for ensuring just and humane conditions of work and maternity
                relief.
                Article 51 (A)(e) –To renounce the practices derogatory to the dignity of women.
            <!-- </p> -->
        </div>
        <br><br>
    </div>
    <br><br>
        <div class="law">
            <br>
            <br>
        <h3 style="text-decoration: underline;">Legislations and laws for women</h3>
        </div>
        <div class="para1">
            The State enacted several women-specific and women-related legislations to
            protect women against social discrimination, violence and atrocities and also to prevent social
            evils like child marriages, dowry, rape, practice of Sati etc.
        </div>
        <br>
        <div class="para">
            <ul>
                <p>
                    <li class="bullet"><b>Equal Remuneration Act of 1976</b> provides for equal pay to men and women for
                        equal work.
                    </li>
                </p>
                <p>
                    <li class="bullet"><b> Hindu Marriage Act of 1955</b> amended in 1976 provides the right for girls
                        to
                        repudiate a child marriage
                        before attaining maturity whether the marriage has been consummated or not.</li>
                </p>
                <p>
                    <li class="bullet"><b> The Marriage (Amendment) Act, 2001 </b>amended the Hindu Marriage Act,
                        Special
                        Marriage Act, Parsi
                        Marriage and Divorce Act, the Code of Criminal Procedure providing for speedy disposal of
                        applications
                        for maintenance; the ceiling limit for claiming maintenance has been deleted and a wide
                        discretion
                        has
                        been given to the Magistrate to award appropriate maintenance.</li>
                </p>
                <p>
                    <li class="bullet"><b>The Immoral Traffic (Prevention) Act of 1956 </b>as amended and renamed in
                        1986
                        makes the sexual
                        exploitation of male or female, a cognizable offence. It is being amended to decriminalize the
                        prostitutes
                        and make the laws more stringent against traffickers.</li>
                </p>
                <p>
                    <li class="bullet">An amendment brought in 1984 to the<b> Dowry Prohibition Act of 1961 </b>made
                        women’s
                        subjection to
                        cruelty a cognizable offence. The second amendment brought in 1986 makes the husband or in-laws
                        punishable, if a woman commits suicide within 7 years of her marriage and it has been proved
                        that
                        she
                        has been subjected to cruelty. Also a new criminal offence of ‘Dowry Death’ has been
                        incorporated in
                        the Indian Penal Code.
                    </li>
                </p>
                <p>
                    <li class="bullet"><b>Child Marriage Restraint Act of 1976 </b>raises the age for marriage of a girl
                        to
                        18 years from 15 years and
                        that of a boy to 21 years and makes offences under this Act cognizable.</li>
                </p>
                <p>
                    <li class="bullet"> <b> Medical Termination Pregnancy Act of 1971</b> legalises abortion by
                        qualified
                        professional on
                        humanitarian or medical grounds. The maximum punishment may go upto life imprisonment. The Act
                        has
                        further been amended specifying the place and persons authorized to perform abortion and provide
                        for
                        penal actions against the unauthorized persons performing abortions.</li>
                </p>
                <p>
                    <li class="bullet"><b> Indecent Representation of Women (Prohibition) Act of 1986 and the Commission
                            of
                            Sati
                            (Prevention) Act, 1987</b> have been enacted to protect the dignity of women and prevent
                        violence against
                        them as well as their exploitation.</li>
                </p>
                <p>
                    <li class="bullet"><b>The Protection of Women from Domestic Violence Act, 2005</b> provides for more
                        effective protection of
                        the rights of women guaranteed under the Constitution who are victims of violence of any kind
                        occurring
                        within the family and for matters connected therewith or incidental thereto. It provides for
                        immediate and
                        emergent relief to women in situations of violence of any kind in the home.</li>
                </p>
            </ul>
        </div>
        <br><br>
    </div>
    <div class="footer">
        <small>&copy;2020 MWCD, All rights reserved | Website designed by Team Womania</small>
    </div>
</body>