.container{
    background: rgb(157, 112, 216);
    margin-left: 300px;
    margin-right: 300px;
    border: black 1px solid;
}
h3{
    background: purple;
  

}
h1{
    background: rebeccapurple;
    position: center;
    margin-left: auto;
    text-align: center;
}
td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}


label{
    position: relative;
  

}
.tab{
    border: 2px solid black
}
.button {
    background-color: rgb(119, 76, 175);
    border: 1px black;
    border-radius: 20px;
    color: rgb(19, 5, 5);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }