<!-- 
<!DOCTYPE html>
<html>
  <head>
    <title>Step registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body> -->
 
    <div class="title">
      <!-- <i class="fas fa-user-circle"></i> -->
      <h1>Register here</h1>
    </div>
    <div class="info">
  
<div id="form">
  <form [formGroup]="addForm" (ngSubmit)="addCustomer()">
    <div class="div1">
      <table>
        <tr>
          <td><label>Name</label></td>
          <td><input type="text"  size="35" formControlName="name" name="customerName"></td>
        </tr>

<tr>
  <td><label>Username</label></td>
  <td><input type="text" size="35" formControlName="userName" name="username"></td>
</tr>
 
  
 <tr>
   <td> <label>Password</label></td>
   <td><input type="password" size="35" formControlName="password" name="password"></td>
 </tr>

<tr>
  <td><label>Confirm Password</label></td>
  <td><input type="password" size="35" formControlName="cPassword" name="cpassword"></td>
</tr>

<tr>
  <td><label>Mobile</label></td>
  <td><input type="number" size="35" formControlName="contact" name="phoneNo"></td>
</tr>
  
<tr>
  <td> <label for="date">Date of Birth:</label></td>
  <td> <input type="date" class="form-control" formControlName="dob" id="date">
    <div *ngIf="submitted && loginForm.controls.date.errors" class="error">
      <div class="text-danger" *ngIf="loginForm.controls.date.errors.required">Username is required</div></div>
    </td>
</tr>
<tr>
  <td> <button class="button" >SUBMIT</button></td>
</tr>
 </table>
</div>
  </form>
  </div>
</div>








