<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <div class="div1">
<ul>
    <li>About Us</li>
    <li>LEGISLATIONS & POLICY</li>
    <li>STEP</li>
    <li>NGOS</li>
    <li>ADMIN</li>
    <li>FAQ</li>

</ul>
    </div>
    
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Hello
    </h1>
</body>
</html>
