   /* html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: blue;
    } 
    
    
     /* h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    }
    h2 {
    margin: 0 0 0 8px;
    }  */
     /* .login {
        margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5); 
    } 
    .left-part, form {
    padding: 25px;
    } 
     .left-part {
    text-align: center;
    } 
    .fa-graduation-cap {
    font-size: 72px;
    }
    form {
    background: rgba(0, 0, 0, 0.7); 
    margin-right:500px;
    margin-left: 500px;
    } 
    .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    } 
    .info {
    display: flex;
    flex-direction: column;
    }
     input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }  */
    /* input::placeholder {
    color: #eee;
    }
    option:focus {
    border: none;
    }
    option {
    background: black; 
    border: none;
    }
    .checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
    }
    .checkbox a {
    color: #26a9e0;
    }
    .checkbox a:hover {
    color: #85d6de;
    }
    .btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26a9e0; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color:cornsilk;
    }
    .btn-item {
    display: inline-block;
    margin: 20px 5px 0;
    }
    button {
    width: 100%;
    }
    button:hover, .btn-item:hover {
    background: #85d6de;
    } */
    /* @media (min-width: 568px) {
    html, body {
    height: 100%;
    }
    .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
    }
    .left-part, form {
    flex: 1;
    height: auto;
    }
    } */
     /* form {
    border: 5px solid #f1f1f1;
    }  */



/* CSS for Login  */
/* .login{
    margin-top: 100px;
    margin-left: 200px;
} */

body{ 
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    /* background: url('../../src/assets/b1.jpeg');  */
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    /* background:  rgb(87, 8, 107); */
    background: rgb(174, 0, 255);
    color : #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
     position: absolute; 
     top: -50px; 
    align-items: center;
    left: calc(50% -50px);
    margin-left: 110px;
    margin-bottom: -100;
}

h1{
    margin-top: 60px;
    /* padding: 0 0 20px 0; */
    text-align: center;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 20px;
}

.loginbox input{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-left:20pxo;    
    margin-right:20px;
}

.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    height: 40px;
    /* background: #8f07ff; */
    background: rgb(89, 0, 255);
  
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor:pointer;
    background: #fb2525;

}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color:#ff0730;
}
/* css for registration form */


.registration{
    margin-left: 800px;
    margin-top: -200px;

}

